@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Playfair Display';
  src: url('playfairdisplay-variablefont_wght-webfont.woff2') format('woff2'),
    url('playfairdisplay-variablefont_wght-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
